header{
    font-family: Helvetica;
    width: 480px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
  }
  ul{
    list-style: none;
  }
  #menu ul>a{
    background-color: grey;
    color: white;
    padding: 10px;
    display: block;
    text-decoration: none;
    min-width: 100px;
  }
  #menu ul>a:hover{
    color: #000;
    background-color: #eaeaea;
  }
  #menu>ul{
    float: left;
    text-align:center
  }
  #menu>ul>ul{
    display: none;
  }
  #menu>ul:hover>ul {
    display:block;
  }